
<h2>Detalles de Libro</h2>



<p>Title: {{bookDetails.title}}</p>

<img src="{{bookDetails.image}}" alt="cover" width="100px">

<p>Description: {{bookDetails.description}}</p>
  <p>Author:</p>
{{#each bookDetails.author}}
  <p>{{this.name}} de {{this.country}} y nacid@ en {{this.yearBorn}}</p>
{{/each}}

<a href="/books/{{bookDetails._id}}/edit"><button>Ir a Editar</button></a>

<form action="/books/{{bookDetails._id}}/delete" method="POST">
  <button>Borrar Libro</button>
</form>

{{!-- <a href="/books/{{bookDetails._id}}/delete"><button>Borrar Libro</button></a> --}}


